In [33]:
import pandas as pd

In [34]:
import sklearn

In [35]:
df_train=pd.read_csv("train.txt",sep="\t",names=["calorific_value", "nitrogen", "turbidity", "style", "alcohol", "sugars", "bitterness", "beer_id", "colour", "degree_of_fermentation"])

In [36]:
df_test=pd.read_csv("test.txt",sep="\t",names=["calorific_value", "nitrogen", "turbidity", "style", "alcohol", "sugars", "bitterness", "beer_id", "colour", "degree_of_fermentation"])

In [37]:
y=df_train['style']

In [38]:
y_actual=df_test['style']

In [39]:
x_test=df_test.drop('style',1)
x_test=x_test.drop('beer_id',1)

In [40]:
y

0        ale
1        ale
2        ale
3        ale
4        ale
       ...
119    stout
120    stout
121    stout
122    stout
123    stout
Name: style, Length: 124, dtype: object

In [41]:
x=df_train.drop('style',1)
x=x.drop('beer_id',1)

In [42]:
x

,calorific_value,nitrogen,turbidity,alcohol,sugars,bitterness,colour,degree_of_fermentation
0,45.305310,0.459548,1.917273,4.227692,16.67,12.568947,11.04,62.178571
1,43.889381,0.548977,3.186364,4.289231,16.73,14.974000,13.44,63.032857
2,41.588496,0.542847,1.568182,4.344615,16.48,11.848789,14.04,63.468571
3,44.553097,0.480301,1.871818,4.424615,18.59,13.879632,12.48,63.531429
4,41.013274,0.441860,2.345455,4.264615,16.35,12.186053,12.12,63.747143
...,...,...,...,...,...,...,...,...
119,41.057522,0.310112,1.440000,3.769231,19.72,5.720158,9.00,70.237143
120,41.500000,0.275861,2.229091,3.953846,18.27,4.228421,10.44,70.688571
121,43.712389,0.233297,2.627273,4.153846,18.12,6.288053,7.08,70.940000
122,38.137168,0.328715,3.753636,4.138462,18.70,7.799368,10.20,71.171429
123,42.517699,0.352644,2.937273,3.830769,18.03,6.692737,8.04,71.451429

In [43]:
x.isna()

,calorific_value,nitrogen,turbidity,alcohol,sugars,bitterness,colour,degree_of_fermentation
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
119,False,False,False,False,False,False,False,False
120,False,False,False,False,False,False,False,False
121,False,False,False,False,False,False,False,False
122,False,False,False,False,False,False,False,False
123,False,False,False,False,False,False,False,False

In [44]:
x.isnull().values.any()

False

In [45]:
x.head(5)

,calorific_value,nitrogen,turbidity,alcohol,sugars,bitterness,colour,degree_of_fermentation
0,45.305310,0.459548,1.917273,4.227692,16.67,12.568947,11.04,62.178571
1,43.889381,0.548977,3.186364,4.289231,16.73,14.974000,13.44,63.032857
2,41.588496,0.542847,1.568182,4.344615,16.48,11.848789,14.04,63.468571
3,44.553097,0.480301,1.871818,4.424615,18.59,13.879632,12.48,63.531429
4,41.013274,0.441860,2.345455,4.264615,16.35,12.186053,12.12,63.747143

In [46]:
from sklearn import preprocessing

In [47]:
le=preprocessing.LabelEncoder()

In [48]:
y_enc=le.fit_transform(y)

In [49]:
y_enc

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [50]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
x=sc.fit_transform(x)
x_test=sc.transform(x_test)

In [51]:
from sklearn.neighbors import KNeighborsClassifier

In [52]:
model = KNeighborsClassifier(n_neighbors=7)

In [53]:
model.fit(x,y_enc)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

In [54]:
y_pred=model.predict(x_test)

In [55]:
y_actual=le.transform(y_actual)

In [56]:
y_pred_train=model.predict(x)

In [57]:
from sklearn import metrics
print("Training Set Accuracy:",metrics.accuracy_score(y_enc, y_pred_train))

Training Set Accuracy: 0.9758064516129032

In [58]:
print("Test Set Accuracy:",metrics.accuracy_score(y_actual, y_pred))

Test Set Accuracy: 1.0

In [59]:
from sklearn.naive_bayes import GaussianNB

In [60]:
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(x,y_enc)

GaussianNB(priors=None, var_smoothing=1e-09)

In [61]:
y_pred=gnb.predict(x_test)

In [62]:
print("Test Set Accuracy:",metrics.accuracy_score(y_actual, y_pred))

Test Set Accuracy: 0.9333333333333333

In [63]:
y_pred_train=gnb.predict(x)

In [64]:
print("Training Set Accuracy:",metrics.accuracy_score(y_enc, y_pred_train))

Training Set Accuracy: 0.9758064516129032